form{
    width: 85%;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.data-fin{
    text-align: start;
    margin-bottom: 2rem;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.form{
    width: 100%;
    margin-bottom: 2rem;
    
}

.forms{
    margin-bottom: 2rem;
    
}

.buttons{
    width: 100%;
}

button{
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

