<div class="container">
  <div class="badge novo-todo mat-elevation-z8 cardDG">
    <button (click)="finalizados()" mat-stroked-button color="black" matBadge="{{ closed }}"> <b>Tasks
        Finalizadas</b></button>
  </div>

  <button routerLink="create" class="novo-todo mat-elevation-z8 cardDG" mat-stroked-button color="black"> <b>Nova
      Tarefa</b></button>

  <h1>Tasks Pendentes</h1>

  <div class="content" *ngFor="let item of list">
    <mat-card class="mat-elevation-z8 cardDG">
      <p>Data para Finalizar: {{item.dataParaFinalizar}}</p>
      <mat-card-header>
        <mat-card-title class="tituloBo">{{item.titulo}}</mat-card-title>
        <mat-card-subtitle class="descIt"> {{item.descricao}} </mat-card-subtitle>
      </mat-card-header>

      <div class="actions">
        <button (click)="finalizarTask(item)" mat-mini-fab class="colorS">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(item.id)" mat-mini-fab class="colorR">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>

</div>