.container{
    width: 85%;
    margin: auto;
    margin-top: 1.5rem;
}

.badge{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge button{
    margin: auto;
    width: 100%;
}

.content{
    width: 100%;
}

.novo-todo{
    width: 100%;
     margin-top: 1rem;
}

h1{
    text-align: center;
    font-weight: 600;
    margin-top: 1.5rem;
    color: rgb(0, 0, 0);
}

mat-card{
    margin-top: .8rem;
    padding: .5rem;
}

p{
    text-align: end;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}

.actions{
    text-align: end;
}

.actions button{
    margin: .5rem;
}

.colorS{
    background-color: seagreen;
}

.cardDG{
    background-image: linear-gradient(300deg, rgb(181, 87, 209), white);
}

.colorR{
    background-color: rgb(255, 25, 71);
}

.descIt{
    font-style: italic;
    font-size: 15px;
}

.tituloBo{
    font-weight: bold;
    font-size: 20px;
}